.footer {
  background: #C4C4C4;
  padding: 54px 16px;
}
.footer__social-wrap {
  display: flex;
  flex-direction: column;
}
@media (max-width: 950px) {
  .footer__social-wrap {
    gap: 20px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}
@media (max-width: 950px) {
  .footer__content {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__social {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  gap: 20px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__items__title, .footer__items__link {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}
.footer__items__link:hover {
  color: #0053D0;
}
.footer__items__title {
  font-weight: 600;
}
.footer__cta-btn {
  padding: 24px 95px;
  height: max-content;
}
@media (max-width: 950px) {
  .footer__cta-btn {
    width: 100%;
  }
}