.header {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  margin: 0 auto;
  padding: 40px 16px 0;
}
@media (max-width: 860px) {
  .header {
    padding: 20px 16px 0;
  }
}
@media (max-width: 860px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ul {
  display: flex;
  list-style: none;
  gap: 85px;
}
.header__navigation ul a {
  display: block;
  padding: 14px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  transition: 0.3s;
}
.header__navigation ul a:hover {
  color: #0053D0;
}
.header__lang_switch {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 860px) {
  .header__lang_switch {
    align-items: flex-start;
  }
}
.header__lang_switch > span {
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.header__lang_switch > span:hover {
  color: #0053D0;
}
.header__mobile_menu {
  display: none;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  order: 1;
}
.header__mobile_menu:hover span {
  background-color: #0053D0;
}
@media (max-width: 860px) {
  .header__mobile_menu {
    display: flex;
  }
}
.header__mobile_menu span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #000000;
  transition: 0.3s;
}