.clients {
  margin-bottom: 277px;

  @media (max-width: 1100px) {
    margin-bottom: 60px;
  }


  &__cards-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 570px) {
      justify-content: center;
    }
  }

  &__card {
    width: 260px;
    height: 160px;
    background-color: #C4C4C4;

    @media (max-width: 570px) {
      width: 100%;
    }
  }
}
