.cycle {
  margin-bottom: 224px;

  @media (max-width: 1100px) {
    margin-bottom: 60px;
  }

  &__card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 809px) {
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 360px;
    height: 360px;
    background-color: #C4C4C4;
    padding-bottom: 40px;

    &_description {
      display: block;
      width: 280px;
      margin: 0 auto;
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 24px;
      border-bottom: 2px solid black;

      @media (max-width: 375px) {
        width: 80%;
        padding-bottom: 16px;
        font-size: 16px;
      }
    }

    @media (max-width: 375px) {
      width: 100%;
      height: 240px;
    }
  }
}